@import "../omarchy/current/theme/waybar.css";

/**
* {
  background-color: @background;
  color: @foreground;
   border: 0;
  border-radius: 16px;

}
  **/
* {
  font-size: 16px;
  min-height: 0;
  border-radius: 1rem;
  padding: 2px;
}
#custom-os_button {
  font-size: 20px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
  background: white;
  color: black;
}

/**
.dock-icon {
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.dock-icon:hover {
  transform: scale(1.3);
  filter: brightness(1.4);
}
  **/
